---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../shared/components/layout/Header.astro";
import Footer from "../shared/components/layout/Footer.astro";
import RQADashboard from "../shared/components/sections/RQADashboard.astro";
---

<MainLayout title="RQA Dashboard | Nueva Naturaleza">
  <main class="relative z-10 pt-20">
    <RQADashboard repo="yohanvillarp/nueva-naturaleza" />
  </main>
</MainLayout>